<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
       
      <app-home-main></app-home-main>
    </div>
    <aside class="col-md-4 blog-sidebar">
      <app-aside></app-aside>
    </aside>
    
</div><!-- /.row -->

</main>